<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ajouter un favori</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <h1 class="display-2 center ">Ajouter un favori</h1>
      <hr/>
      <% if (success === true) {  %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          Le favori a bien été ajouté.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
      <form class="form" action="" method="post">
        <div class="form-group">
          <label for="url">Url du site</label>
          <input type="text" name="url" value="" id="url" class="form-control" placeholder="http://example.com">
        </div>
        <div class="form-group">
          <label for="genre">Genre - type du favori</label>
          <input type="text" name="genre" value="" id="genre" class="form-control" placeholder="Fun/Cours/Dev/...">
        </div>
        <div class="form-group">
          <label for="site">Nom du site</label>
          <input type="text" name="site" value="" id="site" class="form-control" placeholder="Twitter/Igg/...">
        </div>
        <div class="form-group">
          <label for="tags">Tags du favori (Séparés par un espace)</label>
          <input type="text" name="tags" value="" id="tags" class="form-control" placeholder="Mongo/Node/kny/...">
        </div>
        <button type="submit" name="button" class="btn btn-primary">Valider</button>
      </form>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
