<nav class="navbar navbar-light bg-dark">
  <div>
    <a class="navbar-brand" href="/" style="color: white;">Home</a>
    <a class="navbar-brand" href="/addFav" style="color: white;">Ajouter un favori</a>
  </div>
  <form class="form-inline" method="get" action="/searchTags">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="tags" id="tags">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
